* {
    font-family: 'Inconsolata', monospace;
    font-weight: 100;
    color: turquoise;
    text-decoration: none;
    outline: none;
}

body {
    background-color: rgb(5, 22, 22);
}

h1 {
    margin-top: 80px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}

.input {
    text-align: -webkit-center;
}

input {
    display: flex;
    margin: 0.5rem;
    color: black;
    font-weight: bold;
    width: 50px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bloco {
    background-color: turquoise;
    width: 25%;
    margin: 50px auto;
}

.bloco textarea {
    margin: 50px;
    resize: none;
}